# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

#DTmaster tools
*.rt
*.xml
*.ini
Run_project_release/tools/ini/*.ini

Run_project_release/data/reopen.rt
Run_project_release/DTR_merge.xml
Run_project_release/DTR_rtpcr8.xml
Run_project_release/DTR_Scope.xml
Run_project_release/input.xml
Run_project_release/device/A5H607/analysis.rt
Run_project_release/device/A5H607/analysis.rt
Run_project_release/device/A5H607/analysis.rt
Run_project_release/device/A5H607/measurements.rt
Run_project_release/DTcheck.exe
Run_project_release/DTmaster.exe
